.flex-down {
  display: flex;
  flex-direction: column;
}
.space-between {
  justify-content: space-between;
}
.space-around {
  justify-content: space-around;
}
.center {
  /* justify-content: center; */
  align-items: center;
}
.flex-right {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.heading {
  color: white;
  background-color: rgb(5, 68, 104);
  padding: 5px;
}

.margin5 {
  margin: 5px;
}
.usersemail {
  margin: 10px;
  font-size: 1.2rem;
}
